.title{
    color: #A4A400;
    background-color: #F0F0F0 ;
    font-family: Century Gothic,Futura,Verdana,sans-serif;
    text-decoration: underline;
    /* letter-spacing: 0.2em; */
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    margin: 0.5em 15% 0 15%;
}
body{
    color: #404040;
    font-weight:11pt;
    font-family: Georgia,Garamond,serif;
    background-image: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:75%;
}
a{
    color: #A4A400;
}
.main{
    margin: 2em 10% 0 10%;
}
h2{
    color: #A4A400;
    background-color: #F0F0F0 ;
    font-family: Century Gothic,Futura,Verdana,sans-serif;
    text-decoration: underline;
    text-align: left;
    font-size: 18pt;
    font-weight: normal;
}